.footer {
    background-color: rgb(42,43,43);
    padding: 10px;
 
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
   
  }
  .about-us {
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
    color: rgb(205,204,205);
    width: 620px;
    margin: 20px auto;
  }
  
  .about-us-description {
    margin-top: 10px;
  }
  
